<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">

	<title>STAY IN ASHEVILLE NC</title>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	 crossorigin="anonymous"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>



	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

	<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
	<script type="text/javascript" src="/assets/javascript/titleizeName.js"></script>

	<script type="text/javascript" src="/assets/javascript/mapapi.js"></script>

	<script src="app.js"></script>

	{{!--
	<script src="/assets/javascript/mapapi.js"></script> --}}

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css">


	<link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">

</head>

<body>
	{{{ body }}}

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAau4g_tNux7pY0Cf_OuHccTHnZVLN-414&libraries=places&callback=initAutocomplete"
	 async defer></script>
</body>

</HTML>