<body>
    <nav>
        <div class="nav-wrapper">
            
        
            <img src="./assets/images/airbnb.png" alt="logo" align="left" width="60px" height="60px">
                    <span id="welcome">Welcome {{user.name}}</span>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
        
                <li><a href="/logout">Log Out</a></li>
                {{!-- <li><a href="/signup">Sign Up</a></li> --}}
            </ul>
        </div>
    </nav>
    <br/>
    <br/>

    <div class="container">
        <div class="row">

        <h1>Welcome to Asheville</h1>
        <hr/>
        <div class="col l12 m12 s12 xl12">
            <!-- start carosel -->
            <div class="carousel carousel-slider center">
                <a id="img1" data-index="0" class="carousel-item" href="#one!">
                    <img class="responsive-img" src="./assets/images/1.png">
                </a>
                <a id="img2" data-index="1" class="carousel-item" href="#two!">
                    <img class="responsive-img" src="./assets/images/3.png">
                </a>
                <a id="img3" data-index="2" class="carousel-item" href="#three!">
                    <img class="responsive-img" src="./assets/images/6.png">
                </a>
                <a id="img3" data-index="2" class="carousel-item" href="#three!">
                    <img class="responsive-img" src="./assets/images/10.png">
                </a>
                <a id="img3" data-index="2" class="carousel-item" href="#three!">
                    <img class="responsive-img" src="./assets/images/8.png">
                </a>
            </div>
        </div>
        <!-- end carosel -->
    </div>
    <br/>
    <br/>
    <div class="row">
        <form class="col s12" action="/asheville/create" method="POST">
            <div class="row">
                <div class="input-field col s6">
                    <input id="zip_code" type="text" class="validate">
                    <label for="zip_code">Zip Code</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="description" type="text" class="validate">
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6" id="roomType">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="Entire Home/Apt">Entire Home/Apt</option>
                        <option value="Private room">Private Room</option>
                        <option value="Shared room">Shared Room</option>
                    </select>
                </div>
                <div class="input-field col s6">
                    <input id="price" type="text" class="validate">
                    <label for="price">Price</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="min_night" type="text" class="validate">
                    <label for="email">Minimum Night Stay</label>
                </div>
                <div class="input-field col s6">
                    <input id="availability" type="text" class="validate">
                    <label for="availability">Availability (days per year)</label>
                </div>
            </div>
            {{!-- <div class="row">
                <fieldset class="form-group">
                        <label for="photo">Link to Photo Image (Required)</label>
                        <input type="text" class="form-control" placeholder="http://pic.jpg" id="photo" name="photo" required>
                    </fieldset>
            </div> --}}
            <button class="btn waves-effect" type="submit" name="action" id="submit">Submit</button>
        </form>
            
    </div>
        </div>
        <div class="row">
            <br/>
            <input id="pac-input" class="controls" type="text" placeholder="Search Box">

            <div id="map">
                {{{this.map}}}
            </div>


        </div>
    <footer class="page-footer">
        Data provided by ©Google
    </footer>

    <script>
       
  // This file just does a GET request to figure out which user is logged in
  // and updates the HTML on the page


        $(document).ready(function () {
            $("#welcome").html(titleizeName($("#welcome").html()));

              $.get("/api/user_data").then(function (data) {
    $(".member-name").text(data.name);
  });
            $('#submit').on("click", function () {
                
                var userInput = {
                    name: $("#description").val(),
                    zip_code: $('#zip_code').val(),
                    room_type: $('#roomType').val(),
                    price: $('#price').val(),
                    min_night: $('#min_night').val(),
                    availability: $('#availability').val()
                }
                $.post("/asheville/create", userInput).done(function(result) {

                });
            });
            $('select').material_select();
            $('.carousel').carousel({
                dist: 0
            });
            $('.carousel.carousel-slider').carousel({
                fullWidth: true
            });
            window.setInterval(function () {
                $('.carousel').carousel('next')
            }, 5000);
        });
    </script>
</body>