<div class="container">	
		<h1> STAY IN ASHEVILLE NC </h1>

	<div class="row">
            <input id="pac-input" class="controls" type="text" placeholder="Search Box">

            <div id="map"></div>

    </div>

	
	
</div>

	