<div class="container">	
		<h1> STAY IN ASHEVILLE NC </h1>
            <input id="txtEmail" type="email" placeholder="Email">

            <input id="txtPassword" type="password" placeholder="Password">

            <button id="btnLogin" class="btn btn-action"> Log in</button>

            <button id="btnSignUp" class="btn btn-secondary"> Sign Up </button>

            <button id="btnLogout" class="btn btn-action hide"> Log Out </button>
        
        

	<footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            Data provided by ©Google
            </div>
          </div>
        </footer>
		



	<div class="row">

            <input id="pac-input" class="controls" type="text" placeholder="Search Box">

            <div id="map"></div>

    </div>

    </div>


	

	