<div class="container">	
		{{!-- <h1> STAY IN ASHEVILLE NC </h1>
           
        
      
		 --}}



	


    <body>
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12 xl12">
                <br/>
                <h1>Welcome to Asheville</h1>
                <hr/>
                <!-- start carosel -->
                <div class="carousel carousel-slider center">
                    <a id="img1" data-index="0" class="carousel-item" href="#one!">
                        <img class="responsive-img" src="assets/images/1.png">
                    </a>
                    <a id="img2" data-index="1" class="carousel-item" href="#two!">
                        <img class="responsive-img" src="assets/images/3.png">
                    </a>
                    <a id="img3" data-index="2" class="carousel-item" href="#three!">
                        <img class="responsive-img" src="assets/images/6.png">
                    </a>
                    <a id="img3" data-index="2" class="carousel-item" href="#three!">
                        <img class="responsive-img" src="assets/images/8.png">
                    </a>
                    <a id="img3" data-index="2" class="carousel-item" href="#three!">
                        <img class="responsive-img" src="assets/images/10.png">
                    </a>
                </div>
            </div>
        <!-- end carosel -->
        </div>
        <br/>
        <br/>
         <input id="txtEmail" type="email" placeholder="Email">

            <input id="txtPassword" type="password" placeholder="Password">

            <button id="btnLogin" class="btn btn-action"> Log in</button>

            <button id="btnSignUp" class="btn btn-secondary"> Sign Up </button>

            <button id="btnLogout" class="btn btn-action hide"> Log Out </button>
        <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s4">
                  <input id="full_name" type="text" class="validate">
                  <label for="full_name">Full Name</label>
                </div>
                <div class="input-field col s4">
                  <input id="zip_code" type="text" class="validate">
                  <label for="zip_code">Zip Code</label>
                </div>
                  <div class="input-field col s4">
                    <!-- Dropdown Trigger -->
                    <a class='dropdown-button btn' data-beloworigin="true" href='#' data-activates='dropdown1'>Room Type</a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="#!">Entire Home/Apartment</a></li>
                        <li><a href="#!">Private room</a></li>
                        <li><a href="#!">Shared room</a></li>
                    </ul>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s4">
                      <input id="password" type="password" class="validate">
                      <label for="password">Price</label>
                  </div>
                  <div class="input-field col s4">
                    <input id="min_night" type="text" class="validate">
                    <label for="email">Minimum Night Stay</label>
                  </div>
                  <div class="input-field col s4">
                    <input id="availability" type="text" class="validate">
                    <label for="availability">Availability</label>
                  </div>
              </div>
            </form>
            <a class="waves-effect waves-light btn">Submit</a>
          </div>
    </div>
    <div class="row">

            <input id="pac-input" class="controls" type="text" placeholder="Search Box">

            <div id="map">
                {{{this.map}}}
            </div>
            
    </div>

    <footer class="page-footer">   
            
            Data provided by ©Google
        </footer>
    <script>
        $(document).ready(function(){
          $('.carousel').carousel({dist:0});
          $('.carousel.carousel-slider').carousel({fullWidth: true});
          window.setInterval(function(){$('.carousel').carousel('next')},5000);
        });
        
        $(".dropdown-button btn")
    </script>
</body>

    </div>


	

	