* {
    text-align: center;
}


/*
body{
    background-color: #EAD4D4;
    font-family: 'Acme', sans-serif;;
    font-size: 16px;
    line-height: 1.3;
    color: #282626;
}
*/

.select-dropdown {
    color: #A6A4A4;
}

body {
    background-image: url("/assets/images/bg.png");
    background-repeat: repeat;
    background-attachment: fixed;
}

*/ .select-dropdown {
    color: #A6A4A4;
}

body {
    background-image: url("/assets/images/bg.png");
    background-repeat: repeat;
    background-attachment: fixed;
}

#map {
    height: 400px;
    width: 800px;
    color: black;
    margin: 0 auto;
}

nav,
.navbar-default {
    background-color: #26a69a;
}

.page-footer {
    padding: 10px;
    background-color: #26a69a;
    color: white;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    color: black;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.responsive-img {
    max-height: 100%;
    height: auto;
}

h1 {
    color: #141313;
    position: relative;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
}

@media screen and (max-width: 640px) {
    .row .col.s6 {
        width: 95%;
    }
    #map {
        width: 95%
    }
}

@media screen and (max-width: 768px) {
    .row .col.s6 {
        width: 95%;
    }
    #map {
        width: 95%
    }
}

@media screen and (max-width:980px) {}