* {
	text-align: center;
}
/*
body{
	background-color: #EAD4D4;
	font-family: 'Acme', sans-serif;;
	font-size: 16px;
	line-height: 1.3;
	color: #282626;
}
*/

#map {
    height: 400px;
    width: 800px;
    color: black;
    margin: 0 auto;
}

footer,
.page-footer,
.footer-copyright,
#copyright {
    background-color: white;
    color: black;
}


#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    color: black;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.responsive-img {
    max-height: 100%;
    height: auto;
}

.carousel-fixed-item p {
    color: white;
    position: relative;
    top: -130px;
    font-size: 100px;
    font-family: 'Dancing Script', cursive;
}


@media screen and (max-width: 640px) {
    .row .col.s6 {
        width: 95%;
    }
    #map {
        width: 95%
    }
}

@media screen and (max-width: 768px) {
    .row .col.s6 {
        width: 95%;
    }

    #map {
        width: 95%
    }
}

@media screen and (max-width:980px) {}